*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: auto;
    height: 950px;
    border: 1px solid none;
    border-radius: 20px;
}

.container input{
    width: 550px;
    height: 45px;
    /* border: 1px solid black; */
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    margin-left: 340px;
    margin-top: 734px;
    font-size: 23px;
    border-radius: 10px;
}

.container button{
    font-size: 24px;
    width: 56px;
    cursor: pointer;
    border: none;
    background: transparent;
    height: 56px;
    border-radius: 50%;
    margin-left: 23px;
}

.userMessage{
    font-size: 23px;
    color: black;
     margin-top: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.userAndChadgptMess{
    width: 100%;
    height: auto;
    overflow-y: scroll;
    border: 1px solid none;
    padding-left: 34px;
}

.chatMessage{
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  text-align: end;
  margin-top: 30px;
}